@page "/"
@inject NavigationManager NavigationManager

<style>
    h1 {
        text-align: center;
        color: #fff;
        font-weight: bolder;
        font-size: 90px;
    }

    h3 {
        text-align: center;
        color: #fff;
        font-weight: bolder;
    }
    button {
        justify-content: center;
    }

    p{
        color:#fff;
        font-size: 12px;
    }
        .centered-paragraph {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 550%);
        white-space: nowrap;
    }

    .footer-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }


</style>

<h3>ROOM:</h3>
<h1>202</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center my-3">
                <img src="/logohotel.png" width="200" class="img-responsive" />
            </div>
        </div>
            </div>
            </div>

<div class="container">
    <div class="row">
        <div class="col">

            <label for="generatedCode" class="custom-input"></label>
            <h3>Enter your code:</h3>
            <input type="text" id="generatedCode" class="form-control custom-input transparent my-2" @bind="generatedCode" style="width: 100%; height: 50%; border-radius: 20px; background-color: transparent; border: 2px solid #ced4da;" />
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col text-center">
        <button @onclick="SubmitCode" class="btn btn-danger my-2">Submit</button>
    </div>
</div>

<div class="container">
    <div class="col">
        <p class="centered-paragraph">For any problems or questions, please contact the reception.</p>
    </div>
</div>


<div class="footer-container">
    <div class="container">
        <div class="col">
            <p class="centered-paragraph">For any problems or questions, please contact the reception.</p>
        </div>
    </div>
</div>

@code {
    private string generatedCode;

    private string enteredCode = "";
    private bool checkedIn = true;
    private bool showWrongCodeMessage = false;
    private bool hasUsedCode = false;
    private bool checkedOut = false;

    private void CheckCode()
    {
        // For simplicity, we'll simulate the correct code as "1234"
        if (enteredCode == "1234" && checkedIn && !hasUsedCode)
        {
            showWrongCodeMessage = false;
            NavigationManager.NavigateTo("/MainP"); // Redirect to the MainP page (Lock and Unlock)
        }
        else if (!checkedIn || hasUsedCode)
        {
            // Display the "Wrong code! You have been checked out!" message in red
            showWrongCodeMessage = true;
            enteredCode = ""; // Clear the entered code
        }
        else
        {
            // User entered the wrong code or trying to re-enter after being checked out
            showWrongCodeMessage = false; // Reset the error message flag
        }
    }

    private void SubmitCode()
    {
        // Process the generated code here
        if (generatedCode == "checkedinuser" && checkedIn)
        {
            // Redirect to the "LoggedIn" page when the specific code is entered
            NavigationManager.NavigateTo("/LoggedIn");
            hasUsedCode = false; // Reset hasUsedCode when successfully logged in
        }
        else if (checkedIn && !hasUsedCode)
        {
            // Check the code and show the error message if needed
            CheckCode();
        }
        else if (checkedOut)
        {
            // If the user is checked out, show the checked-out message
            showWrongCodeMessage = true;
            enteredCode = ""; // Clear the entered code to prevent further submissions
        }
        else
        {
            // If the user is checked out or has used the code, show the message without additional buttons
            showWrongCodeMessage = true;
            enteredCode = ""; // Clear the entered code to prevent further submissions
        }
    }
}


@if (showWrongCodeMessage)
{
    <p class="wrong-code-message">Wrong code! You have been checked out already!</p>
}
