<!-- Loader.razor -->
<div class="loader-container">
    @if (isLoading)
    {

        <div class="loader">
            <div class="progress progress-outline">
                <div class="progress-bar bg-success" role="progressbar" style="width: @percentage%"></div>
            </div>
            <div>@percentage % Loaded</div>
        </div>
    }
    else
    {
        <div class="paired @(isPaired ? "paired-visible" : "")">
            <i class="fas fa-check-circle" width="60"></i>
            Paired
        </div>
    }
</div>

@code {
    private bool isLoading = true;
    private bool isPaired = false;
    private int percentage = 0;

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    public async Task SimulateLoadingAndPairing()
    {
        for (int i = 1; i <= 100; i++)
        {
            percentage = i;
            StateHasChanged(); 
            await Task.Delay(50); 
        }

        isLoading = false;
        isPaired = true;
        StateHasChanged();
        await Task.Delay(2000);
        NavigationManager.NavigateTo("/MainP");
    }
}
