<!-- Loader.razor -->
<div class="loader-container">
    @if (isLoading)
    {

        <div class="loader">
            <div class="progress progress-outline">
                <div class="progress-bar bg-success" role="progressbar" style="width: @percentage%"></div>
            </div>
            <div>@percentage % Loaded</div>
        </div>
    }
    else
    {
        <div class="paired @(isPaired ? "paired-visible" : "")">
            <i class="fas fa-check-circle" width="60"></i>
            Paired
        </div>
    }
</div>

@code {
    private bool isLoading = true;
    private bool isPaired = false;
    private int percentage = 0;

    // Inject NavigationManager to enable navigation to other pages
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    public async Task SimulateLoadingAndPairing()
    {
        for (int i = 1; i <= 100; i++)
        {
            percentage = i;
            StateHasChanged(); // Update the UI with the new percentage value
            await Task.Delay(50); // Simulate loading delay
        }

        isLoading = false;
        isPaired = true;
        StateHasChanged(); // Notify the component to re-render with updated values

        // After 3-4 seconds, redirect to the "MainP" page
        await Task.Delay(2000); // Adjust the delay time as needed (3000ms = 3 seconds)
        NavigationManager.NavigateTo("/MainP");
    }
}
